@font-face {
    font-family: Baskerville;
    src: local(".fonts/Basketville.ttc");
}

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif; 
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

h1 {
  font-family: 'Baskerville';
  font-size: 80px;
  color: rgb(152,173,166);
  border-bottom: 1px #ccc solid;
  padding-bottom: 10px;
  margin: 4px;
}

h2 {
  color: rgb(111,127,122);
  font-size: 30px;
}

.logo {
  border: 5px #ccc solid;
}

.logo:hover {
  border-color: rgb(111,127,122);
}

.necklace {
  border: 5px rgb(152,173,166) solid;
}

.copyright {
  font-size: 12px;
  text-align: right;
}